.container {
  padding-top: 50px;
}

.row {
  padding-top: 60px;
}

h1 {
  right: 0;
}

.card {
  padding: 20px;
}

.fa-solid {
  font-size: 50px;
  text-align: center;
}

.current-icon {
  font-size: 100px;
}

.card-text {
  text-align: center;
}

h5 {
  text-align: center;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 70px;
  font-weight: 400;
}

.units {
  position: relative;
  top: -34px;
}
